.auth {
    &__bg {
        background-color: #f7fafc;
        height: 100%
    }

    &--logo {
        margin-bottom: 70px;

    }
    &__title {
        color: #010101;
        font-size: 24px;
        font-weight: $font-bold;
        text-align: left;
        margin-top: 0.5rem;

        &-wrap {
            margin-bottom: 2rem;
        }
    }

    &--form {
        padding: 56px 48px;
        box-shadow: 0 15px 35px 0 rgba(60, 66, 87, .08), 0 5px 15px 0 rgba(0, 0, 0, 0.12);
        background-color: #fff;
        border-radius: 4px;
    }
}