.auth {
    &__bg {
        background-color: #f7fafc;
        height: 100%
    }

    &--logo {
        margin-bottom: 50px;

    }

    &--btn {
        &__submit {
            margin-top: 1.5rem;
        }
    }

    &--checkbox {
        margin-top: 2rem;
    }

    &__title {
        color: #010101;
        font-size: 24px;
        font-weight: $font-bold;
        text-align: left;
        margin-top: 0.5rem;

        &-wrap {
            margin-bottom: 1.5rem;
        }
    }

    &--form {
        box-shadow: 0 15px 35px 0 rgba(60, 66, 87, .08), 0 5px 15px 0 rgba(0, 0, 0, 0.12);
        background-color: #fff;
        border-radius: 4px;

        &__wrap {
            padding: 56px 48px 35px;
        }

        &__link {
            color: $text-color-link;
            text-decoration: none;
            font-weight: 500;
        }
    }
}

// ***** LOGIN ****
.login, .signup {
    &__center {
        justify-content: center;
        padding-top: 56px;
        z-index: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: 0 auto;
        width: 1080px;
    }
}

.signup--notify__wrap {
    margin-top: 1rem;

    a {
        color: $text-color-link;
        text-decoration: none;
        font-weight: 500;
    }
}