.login {
    &__center {
        justify-content: center;
        padding-top: 56px;
        z-index: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: 0 auto;
        width: 1080px;
        border: 1px solid purple;
    }
}