<html>
    <head>
        <style>
            .btn--primary {
                box-shadow: rgba(0, 0, 0, 0.114) 0px 1px 5px;
                color: rgb(255, 255, 255) !important;
                background: rgb(89, 109, 222) !important;
                line-height: 1.71;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                user-select: none;
                font-size: 16px;
                font-family: inherit;
                box-shadow: rgba(0, 0, 0, 0.114) 0px 1px 5px;
                font-weight: 500 !important;
                border-width: initial;
                border-style: none;
                border-color: initial;
                border-image: initial;
                border-radius: 5px;
                padding: 8px 16px;
                text-decoration: none;
                transition: all 0.3s ease-in-out 0s;
                outline: none;
            }
        </style>
    </head>

    <body>
        <p style="margin-bottom: 1rem">Hello, {{ username }}</p>
        <p style="margin-bottom: 0.75rem">Your password has been successfully reset</p>
        <p style="margin-bottom: 0.75rem">If you didn't initaite this password reset, let us know by replying directly to this email and we will take it up</p>
        <p style="margin-bottom: 0.75rem">Thanks,</p>
        <p style="margin-bottom: 0.75rem">Siner</p>
    </body>
</html>