<html>
    <head>
        <style>
            .btn--primary {
                box-shadow: rgba(0, 0, 0, 0.114) 0px 1px 5px;
                color: rgb(255, 255, 255) !important;
                background: rgb(89, 109, 222) !important;
                line-height: 1.71;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                user-select: none;
                font-size: 16px;
                font-family: inherit;
                box-shadow: rgba(0, 0, 0, 0.114) 0px 1px 5px;
                font-weight: 500 !important;
                border-width: initial;
                border-style: none;
                border-color: initial;
                border-image: initial;
                border-radius: 5px;
                padding: 8px 16px;
                text-decoration: none;
                transition: all 0.3s ease-in-out 0s;
                outline: none;
            }
            .divider {
                border: 1px solid #ced4da;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            .header {
                width: 100%;
                margin-top: 1rem;
            }
        </style>
    </head>

    <body>
        <div class="header">
            <p>Ziner</p>
            <div class="divider"></div>
        </div>
        <p style="margin-bottom: 1rem">Hello, {{ username }}</p>
        <p style="margin-bottom: 0.75rem">We received a request to reset the password for your account associated with {{ email }}</p>
        <a style="margin-bottom: 0.75rem" class="btn btn--primary" type="button" href="{{link}}">Reset your password</a>
        <p style="margin-bottom: 0.75rem">If you didn't ask to reset your password, let us know by replying directly to this email. No changes were made to your account yet.</p>
        <p style="margin-bottom: 0.75rem">Thanks,</p>
        <p style="margin-bottom: 0.75rem">Ziner</p>
    </body>
</html>