// colors
$brand-color: #5750ec;
$accent-color: #7b68ee;
$default-border-color: #dfdbfb;
$default-icon-color: #7c828d;
// $sidebar-bg-color: #FAFBFC;
$sidebar-bg-color: rgb(250, 251, 252);
$sidebar-bg-textColor: rgb(66, 82, 110)
// 
