
    .table .thead-dark th {
        border-bottom: 1px solid rgb(235, 236, 240) !important;
        color: rgb(94, 108, 132) !important;
        font-size: 13px !important;
        cursor: default !important;
        overflow: visible !important;
        white-space: nowrap;
        color: rgb(94, 108, 132) !important;
        background-color: rgb(255, 255, 255) !important;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        padding: .3rem.75rem;
    }
